---
http_interactions:
- request:
    method: get
    uri: https://dev.gitlab.org/api/v4/projects/gitlab%2Fcharts%2Fcomponents%2Fimages/pipelines?ref=v12.1.0-ee&scope=tags
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
      Private-Token:
      - "[RELEASE_BOT_DEV_TOKEN]"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"6cd7436bc5a9703806b5979bc862af6c"
      Link:
      - <https://dev.gitlab.org/api/v4/projects/gitlab%2Fcharts%2Fcomponents%2Fimages/pipelines?id=gitlab%2Fcharts%2Fcomponents%2Fimages&order_by=id&page=1&per_page=100&ref=v12.1.0-ee&scope=tags&sort=desc>;
        rel="first", <https://dev.gitlab.org/api/v4/projects/gitlab%2Fcharts%2Fcomponents%2Fimages/pipelines?id=gitlab%2Fcharts%2Fcomponents%2Fimages&order_by=id&page=1&per_page=100&ref=v12.1.0-ee&scope=tags&sort=desc>;
        rel="last"
      X-Next-Page:
      - ''
      X-Page:
      - '1'
      X-Per-Page:
      - '20'
      X-Prev-Page:
      - ''
      X-Total:
      - '1'
      X-Total-Pages:
      - '1'
    body:
      encoding: UTF-8
      string: '[{"id":115734,"sha":"120257f5619720ed82237006995176e695982878","ref":"v12.1.0-ee","status":"success","web_url":"https://dev.gitlab.org/gitlab/charts/components/images/pipelines/115734"}]'
  recorded_at: Mon, 01 Jul 2019 06:00:30 GMT
- request:
    method: get
    uri: https://dev.gitlab.org/api/v4/projects/gitlab%2Fcharts%2Fcomponents%2Fimages/pipelines/115734/jobs?per_page=100&scope=manual
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
      Private-Token:
      - "[RELEASE_BOT_DEV_TOKEN]"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"5f5325144b9787c7db577d9403be6071"
      Link:
      - <https://dev.gitlab.org/api/v4/projects/gitlab%2Fcharts%2Fcomponents%2Fimages/pipelines/115734/jobs?id=gitlab%2Fcharts%2Fcomponents%2Fimages&page=1&per_page=100&pipeline_id=115734&scope%5B%5D=manual>;
        rel="first", <https://dev.gitlab.org/api/v4/projects/gitlab%2Fcharts%2Fcomponents%2Fimages/pipelines/115734/jobs?id=gitlab%2Fcharts%2Fcomponents%2Fimages&page=1&per_page=100&pipeline_id=115734&scope%5B%5D=manual>;
        rel="last"
      X-Next-Page:
      - ''
      X-Page:
      - '1'
      X-Per-Page:
      - '20'
      X-Prev-Page:
      - ''
      X-Total:
      - '1'
      X-Total-Pages:
      - '1'
    body:
      encoding: UTF-8
      string: '[{"id":4738743,"status":"manual","stage":"release","name":"sync-images","ref":"v12.1.0-ee","tag":true,"coverage":null,"allow_failure":true,"created_at":"2019-07-01T05:53:37.343Z","started_at":null,"finished_at":null,"duration":null,"user":{"id":218,"name":"Balasankar
        C","username":"balasankarc","state":"active","avatar_url":"https://secure.gravatar.com/avatar/85629995d978376f34ad25759da933e9?s=80\u0026d=identicon","web_url":"https://dev.gitlab.org/balasankarc","created_at":"2016-11-15T11:53:09.952Z","bio":"","location":"","public_email":"","skype":"","linkedin":"","twitter":"","website_url":"","organization":""},"commit":{"id":"120257f5619720ed82237006995176e695982878","short_id":"120257f5","created_at":"2019-07-01T05:47:50.000Z","parent_ids":["2b2961459ac1c90f7dfa3ded202026e145297542"],"title":"Tag
        new version 12.1.0","message":"Tag new version 12.1.0\n\nSigned-off-by: Balasankar
        \"Balu\" C \u003cbalasankar@gitlab.com\u003e\n","author_name":"Balasankar
        \"Balu\" C","author_email":"balasankar@gitlab.com","authored_date":"2019-07-01T05:47:50.000Z","committer_name":"Balasankar
        \"Balu\" C","committer_email":"balasankar@gitlab.com","committed_date":"2019-07-01T05:47:50.000Z"},"pipeline":{"id":115734,"sha":"120257f5619720ed82237006995176e695982878","ref":"v12.1.0-ee","status":"success","web_url":"https://dev.gitlab.org/gitlab/charts/components/images/pipelines/115734"},"web_url":"https://dev.gitlab.org/gitlab/charts/components/images/-/jobs/4738743","artifacts":[],"runner":null,"artifacts_expire_at":null}]'
  recorded_at: Mon, 01 Jul 2019 06:00:31 GMT
- request:
    method: post
    uri: https://dev.gitlab.org/api/v4/projects/gitlab%2Fcharts%2Fcomponents%2Fimages/jobs/4738743/play
    body:
      encoding: UTF-8
      string: ''
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
      Private-Token:
      - "[RELEASE_BOT_DEV_TOKEN]"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"0b75a3881a5e9611b7c28cd326c388c0"
    body:
      [...]
- request:
    method: get
    uri: https://dev.gitlab.org/api/v4/projects/gitlab%2Fcharts%2Fcomponents%2Fimages/pipelines?ref=v12.1.0&scope=tags
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
      Private-Token:
      - "[RELEASE_BOT_DEV_TOKEN]"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"6ea9043d6126c7cd836b91790e5abddf"
      Link:
      - <https://dev.gitlab.org/api/v4/projects/gitlab%2Fcharts%2Fcomponents%2Fimages/pipelines?id=gitlab%2Fcharts%2Fcomponents%2Fimages&order_by=id&page=1&per_page=100&ref=v12.1.0&scope=tags&sort=desc>;
        rel="first", <https://dev.gitlab.org/api/v4/projects/gitlab%2Fcharts%2Fcomponents%2Fimages/pipelines?id=gitlab%2Fcharts%2Fcomponents%2Fimages&order_by=id&page=1&per_page=100&ref=v12.1.0&scope=tags&sort=desc>;
        rel="last"
      X-Next-Page:
      - ''
      X-Page:
      - '1'
      X-Per-Page:
      - '20'
      X-Prev-Page:
      - ''
      X-Total:
      - '1'
      X-Total-Pages:
      - '1'
    body:
      encoding: UTF-8
      string: '[{"id":115733,"sha":"120257f5619720ed82237006995176e695982878","ref":"v12.1.0","status":"success","web_url":"https://dev.gitlab.org/gitlab/charts/components/images/pipelines/115733"}]'
  recorded_at: Mon, 01 Jul 2019 06:01:55 GMT
[...]
- request:
    method: get
    uri: https://dev.gitlab.org/api/v4/projects/gitlab%2Fcharts%2Fcomponents%2Fimages/pipelines?ref=v12.6.0-rc32&scope=tags
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
      Private-Token:
      - "[RELEASE_BOT_DEV_TOKEN]"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"378d58a1db04a76a6a7948cdaeda5788"
    body:
      encoding: UTF-8
      string: '[{"id":139875,"sha":"bedf51dd2d2d4636a77efa95c6dd5cb3a1fc6bd7","ref":"v12.6.0-rc32","status":"manual","created_at":"2019-12-17T22:35:01.634Z","updated_at":"2019-12-17T22:45:22.658Z","web_url":"https://dev.gitlab.org/gitlab/charts/components/images/pipelines/139875"}]'
  recorded_at: Wed, 18 Dec 2019 00:13:19 GMT
[...]
- request:
    method: get
    uri: https://dev.gitlab.org/api/v4/projects/gitlab%2Fcharts%2Fcomponents%2Fimages/pipelines?ref=v12.6.0-rc32-ee&scope=tags
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
      Private-Token:
      - "[RELEASE_BOT_DEV_TOKEN]"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"6a77e8e5fb12098e439108f67e9d03fa"
    body:
      encoding: UTF-8
      string: '[{"id":139874,"sha":"bedf51dd2d2d4636a77efa95c6dd5cb3a1fc6bd7","ref":"v12.6.0-rc32-ee","status":"manual","created_at":"2019-12-17T22:33:52.833Z","updated_at":"2019-12-17T22:45:08.110Z","web_url":"https://dev.gitlab.org/gitlab/charts/components/images/pipelines/139874"}]'
  recorded_at: Wed, 18 Dec 2019 04:02:51 GMT
[...]
- request:
    method: get
    uri: https://dev.gitlab.org/api/v4/projects/gitlab%2Fcharts%2Fcomponents%2Fimages/pipelines?ref=v12.6.0-rc32-ubi8&scope=tags
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
      Private-Token:
      - "[RELEASE_BOT_DEV_TOKEN]"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"5d61c47bb98632c5a0bb4b36c7514d71"
    body:
      encoding: UTF-8
      string: '[{"id":139876,"sha":"bedf51dd2d2d4636a77efa95c6dd5cb3a1fc6bd7","ref":"v12.6.0-rc32-ubi8","status":"manual","created_at":"2019-12-17T22:35:09.455Z","updated_at":"2019-12-17T23:35:38.289Z","web_url":"https://dev.gitlab.org/gitlab/charts/components/images/pipelines/139876"}]'
  recorded_at: Wed, 18 Dec 2019 04:10:27 GMT
[...]
