---
http_interactions:
- request:
    method: get
    uri: https://dev.gitlab.org/api/v4/projects/gitlab%2Fcharts%2Fcomponents%2Fimages/pipelines?ref=v12.0.0-ee&scope=tags
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
      Private-Token:
      - "[RELEASE_BOT_DEV_TOKEN]"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"6cd7436bc5a9703806b5979bc862af6c"
      Link:
      - <https://dev.gitlab.org/api/v4/projects/gitlab%2Fcharts%2Fcomponents%2Fimages/pipelines?id=gitlab%2Fcharts%2Fcomponents%2Fimages&order_by=id&page=1&per_page=100&ref=v12.0.0-ee&scope=tags&sort=desc>;
        rel="first", <https://dev.gitlab.org/api/v4/projects/gitlab%2Fcharts%2Fcomponents%2Fimages/pipelines?id=gitlab%2Fcharts%2Fcomponents%2Fimages&order_by=id&page=1&per_page=100&ref=v12.0.0-ee&scope=tags&sort=desc>;
        rel="last"
      X-Next-Page:
      - ''
      X-Page:
      - '1'
      X-Per-Page:
      - '20'
      X-Prev-Page:
      - ''
      X-Total:
      - '1'
      X-Total-Pages:
      - '1'
    body:
      encoding: UTF-8
      string: '[{"id":115734,"sha":"120257f5619720ed82237006995176e695982878","ref":"v12.0.0-ee","status":"success","web_url":"https://dev.gitlab.org/gitlab/charts/components/images/pipelines/115734"}]'
  recorded_at: Mon, 01 Jul 2019 07:17:12 GMT
- request:
    method: get
    uri: https://dev.gitlab.org/api/v4/projects/gitlab%2Fcharts%2Fcomponents%2Fimages/pipelines/115734/jobs?per_page=100&scope=manual
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
      Private-Token:
      - "[RELEASE_BOT_DEV_TOKEN]"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"4f53cda18c2baa0c0354bb5f9a3ecbe5"
      Link:
      - <https://dev.gitlab.org/api/v4/projects/gitlab%2Fcharts%2Fcomponents%2Fimages/pipelines/115734/jobs?id=gitlab%2Fcharts%2Fcomponents%2Fimages&page=1&per_page=100&pipeline_id=115734&scope%5B%5D=manual>;
        rel="first", <https://dev.gitlab.org/api/v4/projects/gitlab%2Fcharts%2Fcomponents%2Fimages/pipelines/115734/jobs?id=gitlab%2Fcharts%2Fcomponents%2Fimages&page=1&per_page=100&pipeline_id=115734&scope%5B%5D=manual>;
        rel="last"
      X-Next-Page:
      - ''
      X-Page:
      - '1'
      X-Per-Page:
      - '20'
      X-Prev-Page:
      - ''
      X-Total:
      - '0'
      X-Total-Pages:
      - '1'
    body:
      encoding: UTF-8
      string: "[]"
  recorded_at: Mon, 01 Jul 2019 07:17:13 GMT
- request:
    method: get
    uri: https://dev.gitlab.org/api/v4/projects/gitlab%2Fcharts%2Fcomponents%2Fimages/pipelines?ref=v12.0.0&scope=tags
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
      Private-Token:
      - "[RELEASE_BOT_DEV_TOKEN]"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"6ea9043d6126c7cd836b91790e5abddf"
      Link:
      - <https://dev.gitlab.org/api/v4/projects/gitlab%2Fcharts%2Fcomponents%2Fimages/pipelines?id=gitlab%2Fcharts%2Fcomponents%2Fimages&order_by=id&page=1&per_page=100&ref=v12.0.0&scope=tags&sort=desc>;
        rel="first", <https://dev.gitlab.org/api/v4/projects/gitlab%2Fcharts%2Fcomponents%2Fimages/pipelines?id=gitlab%2Fcharts%2Fcomponents%2Fimages&order_by=id&page=1&per_page=100&ref=v12.0.0&scope=tags&sort=desc>;
        rel="last"
      X-Next-Page:
      - ''
      X-Page:
      - '1'
      X-Per-Page:
      - '20'
      X-Prev-Page:
      - ''
      X-Total:
      - '1'
      X-Total-Pages:
      - '1'
    body:
      encoding: UTF-8
      string: '[{"id":115733,"sha":"120257f5619720ed82237006995176e695982878","ref":"v12.0.0","status":"success","web_url":"https://dev.gitlab.org/gitlab/charts/components/images/pipelines/115733"}]'
  recorded_at: Mon, 01 Jul 2019 07:17:28 GMT
[...]
- request:
    method: get
    uri: https://dev.gitlab.org/api/v4/projects/gitlab%2Fcharts%2Fcomponents%2Fimages/pipelines?ref=v12.0.0-ubi8&scope=tags
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
      Private-Token:
      - "[RELEASE_BOT_DEV_TOKEN]"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '[{"id":139876,"sha":"bedf51dd2d2d4636a77efa95c6dd5cb3a1fc6bd7","ref":"v12.6.0-rc32-ubi8","status":"success","created_at":"2019-12-17T22:35:09.455Z","updated_at":"2019-12-17T23:35:38.289Z","web_url":"https://dev.gitlab.org/gitlab/charts/components/images/pipelines/139876"}]'
  recorded_at: Wed, 18 Dec 2019 00:13:20 GMT
[...]
