---
http_interactions:
- request:
    method: get
    uri: https://dev.gitlab.org/api/v4/projects/gitlab%2Fcharts%2Fgitlab/pipelines?ref=v4.5.2&scope=tags
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
      Private-Token:
      - "[RELEASE_BOT_DEV_TOKEN]"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"71d955f73a2c9cb90eb83a5ac4a950cf"
      Link:
      - <https://dev.gitlab.org/api/v4/projects/gitlab%2Fcharts%2Fgitlab/pipelines?id=gitlab%2Fcharts%2Fgitlab&order_by=id&page=1&per_page=100&ref=v4.5.2&scope=tags&sort=desc>;
        rel="first", <https://dev.gitlab.org/api/v4/projects/gitlab%2Fcharts%2Fgitlab/pipelines?id=gitlab%2Fcharts%2Fgitlab&order_by=id&page=1&per_page=100&ref=v4.5.2&scope=tags&sort=desc>;
        rel="last"
      X-Gitlab-Feature-Category:
      - continuous_integration
      X-Next-Page:
      - ''
      X-Page:
      - '1'
      X-Per-Page:
      - '20'
      X-Prev-Page:
      - ''
      X-Total:
      - '1'
      X-Total-Pages:
      - '1'
    body:
      encoding: ASCII-8BIT
      string: '[{"id":175065,"sha":"33416d0edab441def50618693d5606e852fdb0ba","ref":"v4.5.2","status":"success","created_at":"2020-11-02T17:11:56.068Z","updated_at":"2020-11-02T17:27:22.696Z","web_url":"https://dev.gitlab.org/gitlab/charts/gitlab/-/pipelines/175065"}]'
  recorded_at: Mon, 16 Nov 2020 16:20:54 GMT
- request:
    method: get
    uri: https://dev.gitlab.org/api/v4/projects/gitlab%2Fcharts%2Fgitlab/pipelines/175065/jobs?per_page=100&scope=manual
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
      Private-Token:
      - "[RELEASE_BOT_DEV_TOKEN]"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"79849b49c03a605e7fdf5fef06eb4670"
      Link:
      - <https://dev.gitlab.org/api/v4/projects/gitlab%2Fcharts%2Fgitlab/pipelines/175065/jobs?id=gitlab%2Fcharts%2Fgitlab&page=1&per_page=100&pipeline_id=175065&scope%5B%5D=manual>;
        rel="first", <https://dev.gitlab.org/api/v4/projects/gitlab%2Fcharts%2Fgitlab/pipelines/175065/jobs?id=gitlab%2Fcharts%2Fgitlab&page=1&per_page=100&pipeline_id=175065&scope%5B%5D=manual>;
        rel="last"
      X-Gitlab-Feature-Category:
      - continuous_integration
      X-Next-Page:
      - ''
      X-Page:
      - '1'
      X-Per-Page:
      - '20'
      X-Prev-Page:
      - ''
      X-Total:
      - '2'
      X-Total-Pages:
      - '1'
    body:
      encoding: ASCII-8BIT
      string: '[{"id":8940342,"status":"manual","stage":"review","name":"review-docs-cleanup","ref":"v4.5.2","tag":true,"coverage":null,"allow_failure":true,"created_at":"2020-11-02T17:11:56.487Z","started_at":null,"finished_at":null,"duration":null,"user":{"id":145,"name":"GitLab
        mirror push bot","username":"gitlab_pushbot","state":"active","avatar_url":"https://secure.gravatar.com/avatar/5ca6dda488c18eb2902862ff70fb1cd3?s=80\u0026d=identicon","web_url":"https://dev.gitlab.org/gitlab_pushbot","created_at":"2016-05-11T15:09:36.819Z","bio":"","bio_html":"","location":null,"public_email":"","skype":"","linkedin":"","twitter":"","website_url":"","organization":null,"job_title":"","work_information":null},"commit":{"id":"33416d0edab441def50618693d5606e852fdb0ba","short_id":"33416d0e","created_at":"2020-11-02T17:11:04.000+00:00","parent_ids":["e1b134d5924362a6411e330f6e8dd4cc1e4a3215"],"title":"Update
        version mapping for 4.5.2","message":"Update version mapping for 4.5.2","author_name":"GitLab
        Release Tools Bot","author_email":"delivery-team+release-tools@gitlab.com","authored_date":"2020-11-02T17:11:04.000+00:00","committer_name":"GitLab
        Release Tools Bot","committer_email":"delivery-team+release-tools@gitlab.com","committed_date":"2020-11-02T17:11:04.000+00:00","web_url":"https://dev.gitlab.org/gitlab/charts/gitlab/-/commit/33416d0edab441def50618693d5606e852fdb0ba"},"pipeline":{"id":175065,"sha":"33416d0edab441def50618693d5606e852fdb0ba","ref":"v4.5.2","status":"success","created_at":"2020-11-02T17:11:56.068Z","updated_at":"2020-11-02T17:27:22.696Z","web_url":"https://dev.gitlab.org/gitlab/charts/gitlab/-/pipelines/175065"},"web_url":"https://dev.gitlab.org/gitlab/charts/gitlab/-/jobs/8940342","artifacts":[],"runner":null,"artifacts_expire_at":null},{"id":8940341,"status":"manual","stage":"review","name":"review-docs-deploy","ref":"v4.5.2","tag":true,"coverage":null,"allow_failure":true,"created_at":"2020-11-02T17:11:56.346Z","started_at":null,"finished_at":null,"duration":null,"user":{"id":145,"name":"GitLab
        mirror push bot","username":"gitlab_pushbot","state":"active","avatar_url":"https://secure.gravatar.com/avatar/5ca6dda488c18eb2902862ff70fb1cd3?s=80\u0026d=identicon","web_url":"https://dev.gitlab.org/gitlab_pushbot","cre[...]
