---
http_interactions:
- request:
    method: get
    uri: https://gitlab.com/api/v4/projects/gitlab-org%2Fsecurity%2Fgitlab-foss/repository/commits/invalid
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
      Private-Token:
      - "[RELEASE_BOT_PRODUCTION_TOKEN]"
  response:
    status:
      code: 404
      message: Not Found
    headers:
      Content-Type:
      - application/json
      Ratelimit-Limit:
      - '600'
      Ratelimit-Observed:
      - '1'
      Ratelimit-Remaining:
      - '599'
      Ratelimit-Reset:
      - '1527008200'
      Ratelimit-Resettime:
      - Wed, 22 May 2018 00:00:00 GMT
    body:
      encoding: UTF-8
      string: '{"message":"404 Commit Not Found"}'
  recorded_at: Tue, 22 May 2018 00:00:00 GMT
- request:
    method: get
    uri: https://gitlab.com/api/v4/projects/gitlab-org%2Fsecurity%2Fgitlab-foss/repository/commits/v10.8.0-rc1
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
      Private-Token:
      - "[RELEASE_BOT_PRODUCTION_TOKEN]"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"9eadb6800f8c1400393cc6918e34cc26"
      Ratelimit-Limit:
      - '600'
      Ratelimit-Observed:
      - '1'
      Ratelimit-Remaining:
      - '599'
      Ratelimit-Reset:
      - '1527008757'
      Ratelimit-Resettime:
      - Wed, 22 May 2018 00:00:00 GMT
    body:
      encoding: UTF-8
      string: '{"id":"d36753ca4448983a4113f8e6fccdbe58d3452ecd","short_id":"d36753ca","title":"Update
        VERSION to 10.8.0-rc1","created_at":"2018-05-02T15:02:04.000-05:00","parent_ids":["82b4983823f24f698b8e594f355ccd839a33a8ac"],"message":"Update
        VERSION to 10.8.0-rc1\n","author_name":"Mayra Cabrera","author_email":"mcabrera@gitlab.com","authored_date":"2018-05-02T15:02:04.000-05:00","committer_name":"Mayra
        Cabrera","committer_email":"mcabrera@gitlab.com","committed_date":"2018-05-02T15:02:04.000-05:00","stats":{"additions":1,"deletions":1,"total":2},"status":"success","last_pipeline":{"id":21512419,"sha":"d36753ca4448983a4113f8e6fccdbe58d3452ecd","ref":"10-8-stable-prepare-rc2","status":"success"},"project_id":13083}'
  recorded_at: Tue, 22 May 2018 00:00:00 GMT
[...]
- request:
    method: get
    uri: https://gitlab.com/api/v4/projects/gitlab-org%2Fsecurity%2Fgitlab/repository/commits/v10.8.0-rc1-ee
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
      Private-Token:
      - "[RELEASE_BOT_PRODUCTION_TOKEN]"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"e6320dd39da1bd993f4004eedc6e0cca"
  [...]
[...]
