---
http_interactions:
- request:
    method: get
    uri: https://dev.gitlab.org/api/v4/projects/gitlab%2Fomnibus-gitlab/pipelines?ref=11.4.0%2Brc3.ee.0&scope=tags
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
      Private-Token:
      - "[RELEASE_BOT_DEV_TOKEN]"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"086d589f3ad0403365595eac94418a7d"
      Link:
      - <https://dev.gitlab.org/api/v4/projects/gitlab%2Fomnibus%2Dgitlab/pipelines?id=gitlab%2Fomnibus-gitlab&order_by=id&page=1&per_page=100&ref=11.4.0%2Brc3.ee.0&scope=tags&sort=desc>;
        rel="first", <https://dev.gitlab.org/api/v4/projects/gitlab%2Fomnibus%2Dgitlab/pipelines?id=gitlab%2Fomnibus-gitlab&order_by=id&page=1&per_page=100&ref=11.4.0%2Brc3.ee.0&scope=tags&sort=desc>;
        rel="last"
      X-Next-Page:
      - ''
      X-Page:
      - '1'
      X-Per-Page:
      - '20'
      X-Prev-Page:
      - ''
      X-Total:
      - '1'
      X-Total-Pages:
      - '1'
    body:
      encoding: UTF-8
      string: '[{"id":96413,"sha":"998b771d5c706b1a12610aa1fb84d1d8b20af1c2","ref":"11.4.0+rc3.ee.0","status":"success","web_url":"https://dev.gitlab.org/gitlab/omnibus-gitlab/pipelines/96413"}]'
  recorded_at: Thu, 11 Oct 2018 17:13:55 GMT
- request:
    method: get
    uri: https://dev.gitlab.org/api/v4/projects/gitlab%2Fomnibus-gitlab/pipelines/96413/jobs?per_page=100&scope=manual
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
      Private-Token:
      - "[RELEASE_BOT_DEV_TOKEN]"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"104496b2816e2a8522b14150ba3332e8"
      Link:
      - <https://dev.gitlab.org/api/v4/projects/gitlab%2Fomnibus%2Dgitlab/pipelines/96413/jobs?id=gitlab%2Fomnibus-gitlab&page=1&per_page=100&pipeline_id=96413&scope%5B%5D=manual>;
        rel="first", <https://dev.gitlab.org/api/v4/projects/gitlab%2Fomnibus%2Dgitlab/pipelines/96413/jobs?id=gitlab%2Fomnibus-gitlab&page=1&per_page=100&pipeline_id=96413&scope%5B%5D=manual>;
        rel="last"
      X-Next-Page:
      - ''
      X-Page:
      - '1'
      X-Per-Page:
      - '20'
      X-Prev-Page:
      - ''
      X-Total:
      - '19'
      X-Total-Pages:
      - '1'
    body:
      encoding: UTF-8
      string: '[{"id":3183802,"status":"manual","stage":"trigger-packages","name":"release:packages","ref":"11.4.0+rc3.ee.0","tag":true,"coverage":null,"created_at":"2018-10-10T23:06:39.183Z","started_at":null,"finished_at":null,"duration":null,"user":{"id":443,"name":"GitLab
        Release Tools Bot","username":"gitlab-release-tools-bot","state":"active","avatar_url":"https://dev.gitlab.org/uploads/-/system/user/avatar/443/ship-it-squirrel.png","web_url":"https://dev.gitlab.org/gitlab-release-tools-bot","created_at":"2018-05-21T19:59:15.157Z","bio":null,"location":null,"public_email":"","skype":"","linkedin":"","twitter":"","website_url":"","organization":null},"commit":{"id":"998b771d5c706b1a12610aa1fb84d1d8b20af1c2","short_id":"998b771d","title":"Update
        VERSION to 11.4.0-rc3-ee","created_at":"2018-10-10T23:06:30.000Z","parent_ids":["dad5ea2bbb1c202d2d7add3a5b2062f19fce536a"],"message":"Update
        VERSION to 11.4.0-rc3-ee\n","author_name":"GitLab Release Tools Bot","author_email":"robert+release-tools@gitlab.com","authored_date":"2018-10-10T23:06:30.000Z","committer_name":"GitLab
        Release Tools Bot","committer_email":"robert+release-tools@gitlab.com","committed_date":"2018-10-10T23:06:30.000Z"},"pipeline":{"id":96413,"sha":"998b771d5c706b1a12610aa1fb84d1d8b20af1c2","ref":"11.4.0+rc3.ee.0","status":"success","web_url":"https://dev.gitlab.org/gitlab/omnibus-gitlab/pipelines/96413"},"web_url":"https://dev.gitlab.org/gitlab/omnibus-gitlab/-/jobs/3183802","artifacts":[],"runner":null,"artifacts_expire_at":null},{"id":3183803,"status":"manual","stage":"package-and-image-release","name":"Ubuntu-14.04-release","ref":"11.4.0+rc3.ee.0","tag":true,"coverage":null,"created_at":"2018-10-10T23:06:39.206Z","started_at":null,"finished_at":null,"duration":null,"user":{"id":443,"name":"GitLab
        Release Tools Bot","username":"gitlab-release-tools-bot","state":"active","avatar_url":"https://dev.gitlab.org/uploads/-/system/user/avatar/443/ship-it-squirrel.png","web_url":"https://dev.gitlab.org/gitlab-relea[...]
- request:
    method: post
    uri: https://dev.gitlab.org/api/v4/projects/gitlab%2Fomnibus-gitlab/jobs/3183803/play
    body:
      encoding: UTF-8
      string: ''
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
      Private-Token:
      - "[RELEASE_BOT_DEV_TOKEN]"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"e1577d0e7e0e680770a9ed0a8c979c02"
    body:
      encoding: UTF-[...]
[...]
- request:
    method: get
    uri: https://dev.gitlab.org/api/v4/projects/gitlab%2Fomnibus-gitlab/pipelines?ref=11.4.0%2Brc3.ce.0&scope=tags
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
      Private-Token:
      - "[RELEASE_BOT_DEV_TOKEN]"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"b30ba3e31f84fe4f0c9205f12df01768"
      Link:
      - <https://dev.gitlab.org/api/v4/projects/gitlab%2Fomnibus%2Dgitlab/pipelines?id=gitlab%2Fomnibus-gitlab&order_by=id&page=1&per_page=100&ref=11.4.0%2Brc3.ce.0&scope=tags&sort=desc>;
        rel="first", <https://dev.gitlab.org/api/v4/projects/gitlab%2Fomnibus%2Dgitlab/pipelines?id=gitlab%2Fomnibus-gitlab&order_by=id&page=1&per_page=100&ref=11.4.0%2Brc3.ce.0&scope=tags&sort=desc>;
        rel="last"
      X-Next-Page:
      - ''
      X-Page:
      - '1'
      X-Per-Page:
      - '20'
      X-Prev-Page:
      - ''
      X-Total:
      - '1'
      X-Total-Pages:
      - '1'
    body:
      encoding: UTF-8
      string: '[{"id":96417,"sha":"9f64a4aa4e6cb702c8dc9a0dd5ff90681cb8f1c9","ref":"11.4.0+rc3.ce.0","status":"success","web_url":"https://dev.gitlab.org/gitlab/omnibus-gitlab/pipelines/96417"}]'
  recorded_at: Thu, 11 Oct 2018 17:14:01 GMT
[...]
